<%# views/partials/footer.ejs %>
    <footer class="footer mt-auto py-3">
        <%# Removed inline style, mt-auto is key %>
            <div class="container text-center">
                <span class="footer-license-address-text">
                    <%# Removed text-light class, handled by footer style %>
                        Made by psemo - <a href="https://psemo.github.io" target="_blank"
                            rel="noopener noreferrer">psemo.github.io</a>
                        |
                        <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener noreferrer">MIT
                            License</a> -
                        2025
                </span>
                <p class="small disclaimer-text mt-3">
                    <%# Added class for styling %>
                        <strong>Disclaimer:</strong> All factions, businesses, descriptions, and activities mentioned on
                        this site
                        pertain solely to the game <a href="https://www.torn.com/" target="_blank"
                            rel="noopener noreferrer">Torn
                            (torn.com)</a> and are entirely fictional. This site does not represent
                        or endorse any real-world entities or illegal activities.
                </p>
            </div>
    </footer>