<%# views/partials/theme-toggle.ejs %>
    <button id="theme-toggle-float" class="btn btn-primary btn-lg" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Toggle light/dark theme">
        🌓 <%# Initial icon, script.js will update %>
    </button>